{
    "name": "instance_group",
    "description": "",
    "credential_type": 17,
    "inputs": {
        "host": "{{ cluster_endpoint.stdout }}",
        "bearer_token": "{{ sa_token }}",
        "verify_ssl": false,
        "ssl_ca_cert": "{{ sa_cert }}"
    },
    "user": 1
}