{
    "name": "default-cluster",
    "credential": 2,
    "pod_spec_override": "apiVersion: v1\nkind: Pod\nmetadata:\n  namespace: {{ meta.namespace }}\nspec:\n  containers:\n    - image: {{ tower_container_group_image }}\n      tty: true\n      stdin: true\n      imagePullPolicy: Always\n      args:\n        - sleep\n        - infinity\n"
}