name: Publish to Registry
on:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Git Describe
        run: git describe --tags --abbrev=0
      - name: Get release version
        id: get_version
        run: echo ::set-env name=RELEASE_VERSION::$(git describe --tags --abbrev=0)
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: netapp/ez-rancher/terraform-rancher
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          dockerfile: Dockerfile
          tags: "latest,${{ env.RELEASE_VERSION }}"
