name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: sgryczan/tower-operator/tower-operator
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          dockerfile: build/Dockerfile
          tags: "latest,${{ env.RELEASE_VERSION }}"